body{
    font-family: 'Courier New', monospace;
    font-size: 24px;
    background-color: antiquewhite;
}

.container{
    margin:20px auto;
    width: 270px;
    background-color: pink;
    padding: 15px;
    text-align: center;
}

#timer{
    background-color: red;
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    margin-bottom: 15px;
}

.btn{
    width: 80px;
    height: 45px;
    line-height: 45px;
    background-color: bisque;
    font-weight: bold;
    cursor: pointer;  
    user-select: none;
}

.control{
    display: flex;
    justify-content: space-between;
}

.inactive{
    opacity: 0.5;
}